<div class="container p-0">
  <h1 class="h1">Chapter templates</h1>
  <hr>
  <div class="container row justify-content-between align-content-center m-0 p-0">
    <h3 class="h3 text-uppercase mb-1 row align-content-center">Add form</h3>
    <button type="button"
            mat-fab color="primary"
            (click)="showCreateForm = !showCreateForm"
            [value]="showCreateForm ? 'Hide form': 'Show form'"
    >
      <mat-icon>create icon</mat-icon>
    </button>
  </div>
  <ng-container *ngIf="showCreateForm">
    <app-chapter-template-add (addChapterTemplate)="onAddChapterTemplate($event)"></app-chapter-template-add>
  </ng-container>
</div>

<hr>

<div class="table-responsive" *ngIf="chapterTemplates">
  <table class="table table-striped pretty-table">
    <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Description</th>
      <th>Number</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let template of chapterTemplates;">
      <tr>
        <td>
          <a [routerLink]="['/templates/chapters/chapter']"
             [queryParams]="{'chapterTemplateId': template.id, courseTemplateId}">
            {{template.id}}
          </a>
        </td>
        <td>{{template.title | uppercase}}</td>
        <td>{{template.description}}</td>
        <td>{{template.number}}</td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div>

<div>
  <a
    class="btn btn-success"
    [routerLink]="['/templates/courses/course']"
    [queryParams]="{'courseTemplateId': courseTemplateId}"
  >Go back</a>
</div>
