<div class="container" *ngIf="lessonTemplate">
  <h2 class="h2 text-uppercase">Chapter template: "{{lessonTemplate.title}}"</h2>
  <div class="table-responsive">
    <table class="table table-striped pretty-table">
      <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
        <th>Number</th>
        <th>Max mark</th>
        <th>Success mark</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{lessonTemplate.id}}</td>
        <td>{{lessonTemplate.title | uppercase}}</td>
        <td>{{lessonTemplate.description}}</td>
        <td>{{lessonTemplate.number}}</td>
        <td>{{lessonTemplate.maxMark}}</td>
        <td>{{lessonTemplate.successMark}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div>
    <a
      class="btn btn-primary"
      [routerLink]="['/templates/chapters/chapter/lessons']"
      [queryParams]="{chapterTemplateId: chapterTemplateId}"
    >Go Back</a>
  </div>

  <ng-container *ngIf="showUpdateForm">
    <app-lesson-template-update
      [template]="lessonTemplate"
      (updateLessonTemplate)="onUpdateLessonTemplate($event)"
    ></app-lesson-template-update>
  </ng-container>

  <div>
    <button class="btn btn-danger" (click)="onLessonTemplateDelete()">Delete</button>
    <input type="button"
           class="btn btn-primary"
           (click)="showUpdateForm = !showUpdateForm"
           [value]="showUpdateForm ? 'Hide form' : 'Update form'"
    >
  </div>
</div>

