<div class="container p-0">
  <h1 class="h1 text-uppercase">Course templates</h1>
  <hr>
  <div class="container row justify-content-between align-content-center m-0 p-0">
    <h3 class="h3 text-uppercase mb-1 row align-content-center">Add form</h3>
      <!--TODO do i need to save data while disabling-->
    <button type="button"
           mat-fab color="primary"
           (click)="showCreateForm = !showCreateForm"
           [value]="showCreateForm ? 'Hide form': 'Show form'"
    >
      <mat-icon>create icon</mat-icon>
    </button>
  </div>
  <ng-container *ngIf="showCreateForm">
    <app-course-template-add (addCourseTemplate)="onAddCourseTemplate($event)"></app-course-template-add>
  </ng-container>
</div>

<hr>

<div class="table-responsive">
  <table class="table table-striped pretty-table">
    <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let template of templates;">
      <tr>
        <td>
          <a [routerLink]="['/course-templates', template.id]">
            {{template.id}}
          </a>
        </td>
        <td>{{template.title | uppercase}}</td>
        <td>{{template.description}}</td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div>
