<!--TODO view for instructor-->
<div class="container">
  <h2 class="h2">Lessons</h2>
  <div class="table-responsive">
    <table class="table table-striped custom-table">
      <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Number</th>
        <th>Is finished</th>
        <th>Is passed</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let lesson of lessons; let i = index">
        <tr>
          <td>
            <a [routerLink]="['/user/my-courses/', courseId, 'lessons', lesson.id]">
              {{lesson.id}}
            </a>
          </td>
          <td>{{lesson.title | uppercase}}</td>
          <td>{{lesson.number}}</td>
          <td>{{lesson.isFinished}}</td>
          <td>{{userToLessons[i].isPassed}}</td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>

  <div>
    <a
      class="btn btn-primary"
      [routerLink]="['/user/my-courses/', courseId]"
    >Go Back</a>
  </div>
</div>

