<!--TODO save data while disabling-->
<ng-container *ngIf="showForm">
  <app-course-template-add></app-course-template-add>
</ng-container>

<input type="button"
       (click)="showForm = !showForm"
       [value]="showForm ? 'Hide form': 'Show form'"
>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let template of templates;">
      <tr>
        <td>
          <a [routerLink]="['/course-templates', template.id]">
            {{template.id}}
          </a>
        </td>
        <td>{{template.title | uppercase}}</td>
        <td>{{template.description}}</td>
      </tr>
    </ng-container>
  </tbody>
</table>
