<input type="file" class="file-input"
       (change)="onFileSelected($event)" #fileUpload>

<div class="file-upload">
  {{fileInfo?.title || "No file uploaded yet."}}

  <button mat-mini-fab color="primary" class="upload-btn"
          (click)="fileUpload.click()">
    <mat-icon>attach_file</mat-icon>
  </button>

</div>

<div class="progress">
  <mat-progress-bar class="progress-bar" mode="determinate"
                    [value]="uploadProgress"
                    *ngIf="canShowProgress()">
  </mat-progress-bar>

  <div class="container p-0 d-flex justify-content-end">
    <mat-icon class="delete-file border border-dark"
              (click)="onDeleteFile()"
              *ngIf="fileInfo"
    >delete</mat-icon>

    <mat-icon class="download-file border border-dark"
              (click)="onDownloadFile()"
              *ngIf="fileInfo"
    >download</mat-icon>
  </div>
  <div class="container p-0 d-flex justify-content-end">
    <mat-icon class="cancel-upload border border-dark"
              (click)="cancelUpload()"
              *ngIf="uploadProgress && uploadProgress < 99"
    >cancel</mat-icon>

    <mat-icon class="cancel-upload border border-dark"
              (click)="cancelDownload()"
              *ngIf="downloadProgress && downloadProgress < 99"
    >cancel</mat-icon>
  </div>
</div>
