<!--TODO view for instructor-->
<div class="container">
  <h2 class="h2">Course</h2>
  <div class="table-responsive">
    <table class="table table-striped custom-table">
      <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
        <th>Number</th>
        <th>Max mark</th>
        <th>Success mark</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{lesson.id}}</td>
        <td>{{lesson.title | uppercase}}</td>
        <td>{{lesson.description}}</td>
        <td>{{lesson.number}}</td>
        <td>{{lesson.maxMark}}</td>
        <td>{{lesson.successMark}}</td>
      </tr>
      </tbody>
    </table>
  </div>

    <div class="table-responsive">
      <table class="table table-striped custom-table">
        <thead>
        <tr>
          <th>First name</th>
          <th>Last name</th>
          <th>Mark</th>
          <th>Is passed</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{student.firstName}}</td>
          <td>{{student.lastName}}</td>
          <td>{{userToLesson.mark}}</td>
          <td>{{userToLesson.isPassed}}</td>
        </tbody>
      </table>
    </div>

  <div class="container p-0">
    <div class="bg-info py-2 px-1 w-25">
      <app-file [lesson]="lesson"></app-file>
    </div>
  </div>

  <div>
    <a
      class="btn btn-primary"
      [routerLink]="['/user/my-courses/', courseId, 'lessons']"
    >Go Back</a>
  </div>
</div>
