<ng-container *ngIf="showCreateForm">
  <app-chapter-template-add (addChapterTemplate)="onAddChapterTemplate($event)"></app-chapter-template-add>
</ng-container>

<input type="button"
       (click)="showCreateForm = !showCreateForm"
       [value]="showCreateForm ? 'Hide form': 'Show form'"
>

<table>
  <thead>
  <tr>
    <th>Id</th>
    <th>Title</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let template of templates;">
    <tr>
      <td>
        <a [routerLink]="['/course-templates', courseTemplateId, 'chapter-templates', template.id]">
          {{template.id}}
        </a>
      </td>
      <td>{{template.title | uppercase}}</td>
      <td>{{template.description}}</td>
    </tr>
  </ng-container>
  </tbody>
</table>

<div>
  <a
    class="btn btn-success"
    [routerLink]="['/course-templates', courseTemplateId]"
  >Go back</a>
</div>
