<div class="container">
  <h2 class="h2">Chapter template: "{{chapterTemplate.title}}"</h2>
  <div class="table-responsive">
    <table class="table table-striped pretty-table">
      <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
        <th>Number</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{chapterTemplate.id}}</td>
        <td>{{chapterTemplate.title | uppercase}}</td>
        <td>{{chapterTemplate.description}}</td>
        <td>{{chapterTemplate.number}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div>
    <a
      class="btn btn-primary"
      [routerLink]="['/course-templates/', courseTemplateId, 'chapter-templates']"
    >Go Back</a>
    <a
      class="btn btn-success"
      [routerLink]="['/course-templates/', courseTemplateId, 'chapter-templates', chapterTemplateId, 'lesson-templates']"
    >Lessons</a>
  </div>

  <ng-container *ngIf="showUpdateForm">
    <app-chapter-template-update
      [template]="chapterTemplate"
      (updateCourseTemplate)="onUpdateChapterTemplate($event)"
    ></app-chapter-template-update>
  </ng-container>

  <div>
    <button class="btn btn-danger" (click)="delete()">Delete</button>
    <input type="button"
           class="btn btn-primary"
           (click)="showUpdateForm = !showUpdateForm"
           [value]="showUpdateForm ? 'Hide form' : 'Update form'"
    >
  </div>
</div>

