<div class="container">
  <h2 class="h2">Chapters</h2>
  <div class="table-responsive" *ngIf="chapters">
    <table class="table table-striped pretty-table">
      <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
        <th>Is finished</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let chapter of chapters;">
        <tr>
          <td>
            <a [routerLink]="['/my/chapters/chapter']"
               [queryParams]="{courseId, chapterId: chapter.id}">
              {{chapter.id}}
            </a>
          </td>
          <td>{{chapter.title | uppercase}}</td>
          <td>{{chapter.description}}</td>
          <td>{{chapter.isFinished}}</td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>


  <div>
    <a
      class="btn btn-primary"
      [routerLink]="['/my/courses/course']"
      [queryParams]="{courseId}"
    >Go Back</a>
  </div>
</div>

