<div *ngIf="userToCourseInfos">
  <h2 class="h2"
      *ngIf="userRole"
      [ngSwitch]="userRole"
  >
    <span *ngSwitchCase="'STUDENT'">Students</span>
    <span *ngSwitchCase="'INSTRUCTOR'">Instructors</span>
    <span *ngSwitchCase="'Admin'">Admins</span>
    : {{userToCourseInfos.length}}
  </h2>
  <h2 class="h2"
      *ngIf="!userRole"
  >
    <span>All</span>
  </h2>

  <div class="table-responsive">
    <table class="table table-striped pretty-table">
      <thead>
      <tr>
        <th>Number</th>
        <th>Id</th>
        <th>Login</th>
        <th>First name</th>
        <th>Last name</th>
        <th *ngIf="userRole == 'STUDENT'">Mark</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let info of userToCourseInfos; let i = index">
        <td>{{i+1}}</td>
        <td>{{info.user.id}}</td>
        <td>{{info.user.login}}</td>
        <td>{{info.user.firstName}}</td>
        <td>{{info.user.lastName}}</td>
        <td  *ngIf="userRole == 'STUDENT'">{{info.mark}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

