<div class="container" *ngIf="course">
  <h1 class="h1 text-uppercase">Course</h1>
  <hr>
  <div class="table-responsive">
    <table class="table table-striped custom-table pretty-table">
      <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
        <th>Is finished</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{course.id}}</td>
        <td>{{course.title | uppercase}}</td>
        <td>{{course.description}}</td>
        <td>{{course.isFinished}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <app-courses-users-list [userRole]="ROLE_TYPE.INSTRUCTOR" [courseId]="courseId"></app-courses-users-list>

  <div>
    <a
      class="btn btn-primary"
      [routerLink]="['/courses/']"
    >Go Back</a>
<!--    <a
      class="btn btn-success"
      [routerLink]="['/course/', course.id, 'lesson']"
    >Lessons</a>-->
  </div>
  <div>
    <a class="btn btn-primary"
       *ngIf="userToCourse"
       [routerLink]="['/my/courses/course']" [queryParams]="{courseId}"
    >Go to course</a>
    <!--TODO allow another instructors be a part of the course-->
    <input class="btn btn-success"
           value="Enroll"
           *ngIf="!userToCourse && user.role === 'STUDENT'"
           (click)="enrollWithoutApproval()"
    />
  </div>
</div>


