<div class="container">
  <div class="row justify-content-between">
    <h2 class="h2">My courses</h2>
    <mat-form-field>
      <mat-label>Status</mat-label>
      <mat-select [value]="selectedStatus">
        <mat-option [value]="status"
                    *ngFor="let status of statuses"
                    (click)="onStatusSelect(status)"
        >{{ status }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="table-responsive" *ngIf="courses">
    <table class="table table-striped pretty-table">
      <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
        <th>Is finished</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let course of courses;">
        <tr>
          <td>
            <a [routerLink]="['/my/courses/course']"
               [queryParams]="{courseId: course.id}">
              {{course.id}}
            </a>
          </td>
          <td>{{course.title | uppercase}}</td>
          <td>{{course.description}}</td>
          <td>{{course.isFinished}}</td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
</div>
